<block name="include"><include file="Public:header5" /></block>
<body style="background-image:url('/newfish/Public/images/6.jpg')">
<div id="body">
    <div id="header">
        <div class="wrapper">
            <a class="logo" href="index.html"> <img width="229" height="43" alt="新安招聘" src="{:C('Base_Url')}images/logo.png" /> </a>
            <ul id="navheader" class="reset">
                <li><a href="{:U('Index/index')}">首页</a></li>
                <li class="current"><a rel="nofollow" href="{:U('Work/index')}">职位管理</a></li>
            </ul>
            <dl class="collapsible_menu">
                <dt>
                    <span>{$username}&nbsp;</span>
                    <span class="red dn" id="noticeDot-1"></span>
                    <i></i>
                </dt>
                <dd style="display: none;">
                    <a href="{:U('Work/index')}">我发布的职位</a>
                </dd>
                <dd style="display: none;">
                    <a href="{:U('Work/workchose')}">我收到的简历</a>
                </dd>
                <dd class="btm" style="display: none;">
                    <a href="{:U('Index/index')}">我的公司主页</a>
                </dd>
                <dd class="logout" style="display: none;">
                    <a rel="nofollow" href="{:U('Index/logout')}">退出</a>
                </dd>
            </dl>
        </div>
    </div>
    <!-- end #header -->
    <div id="container">
        <div class="sidebar">
            <a class="btn_create" href="{:U('Work/create')}">发布新职位</a>
            <dl class="company_center_aside">
                <dt>
                    职位管理
                </dt>
                <dd>
                    <a href="{:U('Work/index')}">职位列表</a>
                </dd>
                <dd>
                    <a href="{:U('Seeker/index')}">简历筛选</a>
                </dd>
                <dd>
                    <a href="{:U('Mail/allmail')}">面试通知</a>
                </dd>
            </dl>
        </div>
        <!-- end .sidebar -->
        <div class="content">
            <dl class="company_center_content">
                <dt>
                <h1><em></em>发布新职位</h1>
                </dt>
                <dd>
                    <div class="ccc_tr">
                        今日已发布
                        <span>0</span> 个职位 还可发布
                        <span>5</span> 个职位
                    </div>
                    <form action="{:U('Work/edit')}" method="post" id="jobForm">
                        <input type="hidden" value="" name="id" />
                        <input type="hidden" value="create" name="preview" />
                        <input type="hidden" value="25927" name="companyId" />
                        <input type="hidden" value="c29d4a7c35314180bf3be5eb3f00048f" name="resubmitToken" />
                        <table class="btm">
                            <tbody>
                            <tr>
                                <td><span class="redstar">*</span></td>
                                <td>标题</td>
                                <input type="hidden" name="workid" value="{$list.workid}">
                                <td> <input type="text" value="{$list.work_title}" name="work_title" id="positionName" /> </td>
                            </tr>
                            <tr>
                                <td><span class="redstar">*</span></td>
                                <td>招聘人数</td>
                                <td> <input type="text"  value="{$list.work_num}" name="work_num" id="positionName" /> </td>
                            </tr>
                            <tr>
                                <td width="25"><span class="redstar">*</span></td>
                                <td width="85">职位类别</td>
                                <td> <input type="text" id="positionType" value="{$list.work_type}" name="work_type" placeholder="职位类别"/>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="redstar">*</span></td>
                                <td>职位名称</td>
                                <td> <input type="text" placeholder="请输入职位名称，如：产品经理" value="{$list.positionname}" name="positionName" id="positionName" /> </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>所属部门</td>
                                <td> <input type="text" placeholder="请输入所属部门" value="{$list.department}" name="department" id="department" /> </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="btm">
                            <tbody>
                            <tr>
                                <td width="25"><span class="redstar">*</span></td>
                                <td width="85">工作性质</td>
                                <td><input type="text" placeholder="工作性质" value="{$list.jobnature}" name="jobNature" id="department1" /></td>
                            </tr>
                            <tr>
                                <td><span class="redstar">*</span></td>
                                <td>月薪范围</td>
                                <td>
                                    <div class="salary_range">
                                        <div>
                                            <input type="text" placeholder="最低月薪" value="{$list.salarymin}" id="salaryMin" name="salaryMin" />
                                            <span>k</span>
                                        </div>
                                        <div>
                                            <input type="text" placeholder="最高月薪" value="{$list.salarymax}" id="salaryMax" name="salaryMax" />
                                            <span>k</span>
                                        </div>
                                        <span>只能输入整数，如：9</span>
                                    </div> </td>
                            </tr>
                            <tr>
                                <td><span class="redstar">*</span></td>
                                <td>工作城市</td>
                                <td> <input type="text" placeholder="请输入工作城市，如：北京" value="{$list.workaddress}" name="workAddress" id="workAddress" /> </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="btm">
                            <tbody>
                            <tr>
                                <td width="25"><span class="redstar">*</span></td>
                                <td width="85">工作经验</td>
                                <td> <input type="text" id="experience" value="{$list.workyear}" name="workYear" /></td>
                            </tr>
                            <tr>
                                <td><span class="redstar">*</span></td>
                                <td>学历要求</td>
                                <!--<h3><span>(最高月薪不能大于最低月薪的2倍)</span></h3> -->
                                <td> <input type="text" id="education" value="{$list.education}" name="education" /> </td>
                            </tr>
                            </tbody>
                        </table>
                        <table>
                            <tbody>
                            <tr>
                                <td></td>
                                <td>职位诱惑</td>
                                <td> <input type="text" placeholder="" value="{$list.temptation}" name="temptation" id="temptation" /> </td>
                            </tr>
                            <tr>
                                <td width="25"><span class="redstar">*</span></td>
                                <td colspan="2"> 接收简历邮箱：<input type="text" value="{$list.receiveemail}" id="receiveEmail" name="receiveEmail" /> </td>
                            </tr>
                            <tr>
                                <td width="25"></td>
                                <td colspan="2"> <input type="submit" value="编辑完成" id="jobPreview" class="btn_32" /> </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </dd>
            </dl>
        </div>
        <!-- end .content -->
        <!-- 弹窗lightbox ----------------------------------------->
        <div style="display:none;">
            <div class="clear"></div>
            <a rel="nofollow" title="回到顶部" id="backtop" style="display: none;"></a>
        </div>
        <!-- end #container -->
    </div>
    <!-- end #body -->
    <block name="include"><include file="Public:footer3" /></block>