<block name="include"><include file="Public:header5" /></block>
<body style="background-image:url('/newfish/Public/images/6.jpg')">
<div id="body">
    <div id="header">
        <div class="wrapper">
            <a class="logo" href="index.html"> <img width="229" height="43" alt="新安招聘" src="{:C('Base_Url')}images/logo.png" /> </a>
            <ul id="navheader" class="reset">
                <li><a href="{:U('Index/index')}">首页</a></li>
                <li class="current"><a rel="nofollow" href="{:U('Work/index')}">职位管理</a></li>
            </ul>
            <dl class="collapsible_menu">
                <dt>
                    <span>{$user}&nbsp;</span>
                    <span class="red dn" id="noticeDot-1"></span>
                    <i></i>
                </dt>
                <dd style="display: none;">
                    <a href="{:U('Work/index')}">我发布的职位</a>
                </dd>
                <dd style="display: none;">
                    <a href="{:U('Work/workchose')}">我收到的简历</a>
                </dd>
                <dd class="btm" style="display: none;">
                    <a href="{:U('Index/index')}">我的公司主页</a>
                </dd>
                <dd class="logout" style="display: none;">
                    <a rel="nofollow" href="{:U('Index/logout')}">退出</a>
                </dd>
            </dl>
        </div>
    </div>
    <!-- end #header -->
    <div id="container">
        <div class="sidebar">
            <a class="btn_create" href="{:U('Work/create')}">发布新职位</a>
            <dl class="company_center_aside">
                <dt>
                    职位管理
                </dt>
                <dd>
                    <a href="{:U('Work/index')}">职位列表</a>
                </dd>
                <dd>
                    <a href="{:U('Work/workchose')}">简历筛选</a>
                </dd>
                <dd>
                    <a href="{:U('Mail/index')}">面试通知</a>
                </dd>
            </dl>
        </div>
        <!-- end .sidebar -->
        <div class="content">
            <dl class="company_center_content">
                <dt>
                <h1><em></em>发送面试列表 <span>（共<i style="color:#fff;font-style:normal" id="positionNumber">{$count}</i>个）</span></h1>
                </dt>
                <dd>
                    <form id="searchForm">
                        <input type="hidden" value="Publish" name="type">
                        <ul class="reset my_jobs">
                            <volist name="list" id="vo">
                                <li data-id="{$vo.workid}">
                                    <h3>{$vo.title}</h3>
                    <span class="receivedResumeNo">
            </span>
                                    <div>收件人姓名：{$vo.username}/ 邮箱{$vo.mail} / 职位名{$vo.workname} / 内容：{$vo.content}</div>
                                    <div class="c9">投递时间： {$vo.add_time}</div>
                                    <div class="links">
                                        <a class="job_del" href="http://127.0.0.1/newfish/index.php?s=/Home/Mail/del/mailsmsid/{$vo.mailsmsid}">删除</a>
                                    </div>
                                </li>
                            </volist>
                        </ul>
                    </form>
                </dd>
            </dl>
        </div><!-- end .content -->
        <script src="{:C('Base_Url')}js/job_list.min.js" type="text/javascript"></script>
        <div class="clear"></div>
        <a rel="nofollow" title="回到顶部" id="backtop"></a>
    </div><!-- end #container -->
</div><!-- end #body -->
<block name="include"><include file="Public:footer3" /></block>